[run]
source = app
branch = True
omit =
    app/tests/*
    app/**/__init__.py

[report]
show_missing = True
skip_empty = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError

[html]
directory = htmlcov